<network>
  <name>staypuft2</name>
  <uuid>d9e8d8ad-1f32-46de-b0c4-2014293aa4fb</uuid>
  <bridge name='virbr12' stp='on' delay='0'/>
  <mac address='52:54:00:00:00:12'/>
  <domain name='staypuft2.local'/>
  <ip address='192.168.132.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.132.20' end='192.168.132.126'/>
    </dhcp>
  </ip>
</network>
